<a href="https://colab.research.google.com/github/DaniChinwendu/DATA-CAMP-ASSIGNMENT/blob/main/Calculator_progm(data_insight)).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is a very powerful language that is used for almost and Virtually everything. it used in building webapp, data science, machine learning and Artificial intelligence to even game development. In this tutorial we are going to learn how to write a simple arithematic calculator program with python using the basic python concepts we have talked about.

Python is used in developing highly professional and complex program using the basic concept. However this tutorial will help us understand how to apply this concepts on our own.
Writing this program we are going to use functions, variables and if statements.

First we define our functions for the operation in our arithematic calculator.

In [ ]:
#Define function
#This functions performs the Addition operation.
def add(x,y):
    return x+y
#this function performs the subtraction operation
def subtract(x,y):
    return x-y
#this function perform multiplication operation
def multiply(x,y):
    return(x*y)
#this function performs the division operation
def divide (x,y):
    return(x/y)

Next, we define our input variables. This will help us out in the numbers or range of numbers we want to perform an Arithmetic operation on.

In [ ]:
#Define variable
num1=float(input('please input a number: '))
num2=float(input('please input a number: '))

please input a number: 4
please input a number: 4

We will create a key to call the difference kind of operation when we need them. This helps make our simple arithematic calculator quite advanced ðŸ˜Š

In [ ]:
#the yes are numbers that represents the different arithematic operation in our calculator
print('please select a simple operation from 1- 4 ')
print('1 Add')
print('2 subtract')
print('3 multiply')
print('4 divide')

please select a simple operation from 1- 4
1 Add
2 subtract
3 multiply
4 divide

We are now going to create a variable called operation to help us input the type of operation we want to perform using the keys we created.

In [ ]:
Operation=input('please select an operation from the keys above: ')

please select an operation from the keys above: 1

In [ ]:
if Operation in ('1','2','3','4'):
   if Operation=='1':
      print(num2,'+',num2,'=',add(num1,num2))
   if Operation=='2':
      print(num1,'-',num2,'=', subtract(num1,num2))
   if Operation =='3':
      print(num1,'*', num2,'=', multiply(num1,num2))
   if Operation =='4':    
      print(num1,'/',num2,'=',divide(num1,num2))

4.0 + 4.0 = 8.0