<a href="https://colab.research.google.com/github/DaniChinwendu/DATA-CAMP-ASSIGNMENT/blob/main/Loops_in_python(Data_insight).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loops are very powerful tools in python and there are very essential for data science. In this tutorial we are going to perform on a list in order to understand how for loops work in general.

In [ ]:

#Here we created a list we can iterate over using for loops.
List=[1,2,3,5,6,9,12,16,11,4,8,10,15]

Using for looks we can iterate over the list created above and also perform an action with everyone of them.

In [ ]:
#using the for loop statement we can access every item in the list
for nums in List:
    print(nums)
    
#Using for loops we can print out all the number in the list

1
2
3
5
6
9
12
16
11
4
8
10
15

We can even perform simple arithematic action with the item in the list and that's what makes for loop really exciting.

In [ ]:
9#We can multiply and  every item in the list by two
#but this expression has to be in the loop.
for nums in List:
    print(nums*2)

2
4
6
10
12
18
24
32
22
8
16
20
30

In [ ]:
for nums in List:
 #Here we tried dividing every item in the list by two   
    print(nums/2)

0.5
1.0
1.5
2.5
3.0
4.5
6.0
8.0
5.5
2.0
4.0
5.0
7.5